<StackLayout backgroundColor="black">

    <div  class="divi">

        <Image class="imgHeader" src="~/Recursos/logo.png" ></Image>
        
        <Image class="imgplus" src="~/Recursos/mas.png" (tap)="addPerfil()"></Image>

    </div>
    <StackLayout class="cajaPerfiles">
        <ScrollView orientation="vertical">
            <GridLayout rows="{{spaceList}}">

                <FlexboxLayout *ngFor='let perfil of perfiles' alignItems="center" class="flex"
                    row={{perfiles.indexOf(perfil)}} backgroundcolor="lightgray">
                    <Image class="user" src="~/Recursos/user1.png" (tap)="ingreso(perfil)"></Image>
                    <label class="labelUser" text="{{perfil.name}}" (tap)="ingreso(perfil)"></label>
                    <Image class="iconDelete" src="~/Recursos/delete.png" (tap)="deleteTask(task)"></Image>
                    <Image class="iconEdit" src="~/Recursos/editarP.png" (tap)="editarP(perfil)"></Image>

                </FlexboxLayout>

            </GridLayout>

        </ScrollView>

    </StackLayout>

</StackLayout>