.imgHeader{
    height: 200;
    width: 200;
    float: left;
}

.labelHeader{
    margin-top: 25;
    font-size: 15;
    font-style: italic;
    color: white;
    font-weight: bold;
    float: left;

}

.cajaPerfiles{
    margin-top: 40;
    width: 340;
    height: 340;
    background-color: black;
    border-color: white;
    border-width: 5;
}

.flex{

    border-top: black;
    border-top-width: 2;
    border-bottom: black;
    border-bottom-width: 2;
}
.imgplus{
    height: 50;
    width: 70;
    float: left;
}
.imageLeft{
    margin-left: 10;
    margin-right: 10;
}

.user{
    width: 50;
    height: 50;
}

.iconDelete{
    width: 50;
    height: 50;

}
.iconEdit{
    width: 50;
    height: 50;
}
.labelUser{
    display: block;
    width: 50%;
}
.divi{
    display: flex;
    flex-direction: row;
    width: 200px;
	padding: 25px 0;
	margin: 0;
}
