<StackLayout backgroundColor="black">
    <GridLayout columns="100,100,100,100,100" rows="auto" verticalAlignment="center" style="align-content: center;">
        <Image class="imgHeader" src="~/Recursos/logo.png" row="1" col="1"></Image>
        <label class="labelHeader" horizontalAlignment="left" row="1" col="2" text="TIMEPOINT"></label>
        <Image class="imgplus" src="~/Recursos/mas.png" row="1" col="3"  (tap)="addPerfil()"></Image>
    </GridLayout>

    <StackLayout class="cajaPerfiles">
        <ScrollView orientation="vertical">
            <GridLayout rows={{spaceList}}> 
                <FlexboxLayout *ngFor='let perfil of perfiles' alignItems="center" class="flex"
                row={{perfiles.indexOf(perfil)}} backgroundcolor="lightgray">
                    <Image class="user" src="~/Recursos/user1.png"></Image>
                    <label class="labelUser" text="{{perfil.name}}"></label>
                    
                </FlexboxLayout>
                      
            </GridLayout>

        </ScrollView>

    </StackLayout>

</StackLayout>