<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    
    
    <FlexboxLayout alignItems="center"  >
        <Image class="corazon" src="~/Recursos/corazon.png" ></Image>
        <Image class="corazon" src="~/Recursos/corazon.png"></Image>
        <Image class="corazon" src="~/Recursos/corazon.png"></Image>
        <GridLayout columns="3*, 1*" class="progressbar">
            <StackLayout col="0" class="barra2"></StackLayout>
          </GridLayout>
    </FlexboxLayout>
    
</ActionBar>

<StackLayout class="cajaBt" width="340" height="300">
    <button (tap)="crearTarea()" class="boton" text="Crear Tarea"></button>
    <div *ngFor='let task of userTasks'>
        
        <label class="Fsotaa" text="{{task.description}}"> </label>
    </div> 
</StackLayout>

  <StackLayout class="cajaa" >

   
    

  </StackLayout>


  

  
  <StackLayout class="cajaVik" width="340" height="140" orientation="horizontal"> 
        <button (tap)="encontrarTask()" class="boton" text="Encontrar tarea"></button>
        <button (tap)=" verTareas()" class="boton" text="Ver tarea"></button>
    <TextView hint="Enter some text..." 
          [editable]="false"
          [text]="tvtext">
    </TextView>



  </StackLayout>