.corazon{
    
    width: 60;
    height: 60;
    align-self: center;
}
.cajaVik{
    margin-top: 480;
    background:transparent;
    padding-left: 10%;
    text-align: center;
    
    
}
.cajaVik2{
    margin-right: 195;
    background-image: url("~/Recursos/user1.png");
    background-repeat: no-repeat;
    background-size:cover;
    
}
.cajaVik3{
    
    background-image: url("~/Recursos/user1.png");
    background-repeat: no-repeat;
    background-size:cover;
    
}
.chulo{
    border-color: blue;
    border-width: 5;
}
.flexi{
    margin-left: 200;

}
.flexito{
    margin-bottom: 110;
    margin-left: 200;
}
.label{

     margin-left:25 ;
     align-self: center;
     font-size: 23;

}

.progressbar {
    height: 35;
    width: 90;
    margin: 10;
    border-radius: 10;
    background-color: #ECEFF1;
}
.barra {
    background-color: #51BC6B;
    border-radius: 10;
}
.barra2 {
    background-color:orange;
    border-radius: 10;
}

.progressbar2 {
    height: 30;
    width: 100;
    margin: 10;
    border-radius: 10;
    background-color: #ECEFF1;
    
}


.flex{
    
    border-top: black;
    border-top-width: 2;
    border-bottom: black;
    border-bottom-width: 2;
}

.user{
    margin:6;
    
}
.caja{
    margin-bottom: 5%;
    margin-top: 5%;
    background:transparent;
    border-width: 5;
    border-color: black;
}
.cajaBt{
   
    margin-bottom: 380;
}
.cajaa{
    margin-top: 10%;
    margin-bottom: 10%;
    background:transparent;
    padding: 5;
}
.cajaa2{
    margin-top: 311;
    margin-bottom: 180;
    background:transparent;
    border-width: 5;
    border-color: black;
}
.Fsotaa{
    text-align: center;
    font-size: 25;
    font-family: "Varela";
    font-style: italic;
    color: blue;
    text-transform: uppercase;
       
}

.detalle{
    text-align: left;
    font-size: 15;
    font-family: "Varela";
    font-style: italic;
    color:blueviolet;
    text-transform: uppercase;
       
}
.boton {
    margin-top: 30;
	box-shadow: 0px 5px 12px 0px #3dc21b;
	background-color:skyblue;
	border-radius:16px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	font-weight:bold;
	padding:17px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.boton:hover {
	background-color:#5cbf2a;
}
.boton:active {
	position:relative;
	top:1px;
}
.div{
    position: relative;
}
.titleText{
    
    margin-left: 10;
    margin-right: 100;
}

.imageLeft{
    margin-left: 10;
    margin-right: 10;
}

.botonesM {
 
  border: red solid 2px;
  display:flex;
  justify-content: center;
}

.botonActualizar {
    margin-top: 5;
    
    margin-right: 5;
    box-shadow: 0px 5px 12px 0px #3dc21b;
	background-color:skyblue;
	border-radius:1px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.botonVerificar {
    margin-top: 5;
    margin-left: 5;
    margin-right: 5;
    box-shadow: 0px 5px 12px 0px #3dc21b;
	background-color:skyblue;
	border-radius:1px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.botonEliminar {
    margin-top: 5;
    margin-left: 5;
    margin-right: 5;
    box-shadow: 0px 5px 12px 0px #3dc21b;
	background-color:skyblue;
	border-radius:1px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

