<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    
    
    <FlexboxLayout alignItems="center"  >
        <Image class="corazon" src="~/Recursos/corazon.png" ></Image>
        <Image class="corazon" src="~/Recursos/corazon.png"></Image>
        <Image class="corazon" src="~/Recursos/corazon.png"></Image>
        <GridLayout columns="3*, 1*" class="progressbar">
            <StackLayout col="0" class="barra2"></StackLayout>
          </GridLayout>
    </FlexboxLayout>
    
</ActionBar>

<StackLayout class="caja" width="80%" height="80%" >
    
    <label class="Fsotaa" text="Modificar Tarea:"></label>
    <label class="detalle" text="Titulo:"></label>
    <TextField [(ngModel)]="task.title" class="entradaUser" hint="{{task.title}}"></TextField>
    <label class="detalle" text="Descripción:"></label>
    <TextField [(ngModel)]="task.description" class="entradaUser" hint="{{task.description}}"></TextField>
    <label class="detalle" text="Fecha limite:"></label>
    <DatePicker [(ngModel)]="task.endDate" minDate="2020-01-01" maxDate="2100-12-31"></DatePicker>
    <label class="detalle" text="Estado de la Tarea:"></label>
    <label class="estatus" text="{{estatus}}"></label>

    

  </StackLayout>

  <StackLayout class="cajaVik" width="340" height="140" orientation="horizontal">

     
    <button class="botonActualizar" (tap)="actualizarTask()" text="Actualizar"></button>
    <button class="botonVerificar" (tap)="verificarTask()" text="Verificar"></button>
    <button class="botonEliminar" (tap)="eliminarTask()" text="Eliminar"></button>


</StackLayout>


