

<StackLayout class="form" >
    <StackLayout>
    <Image class="logotipo" src="~/Recursos/logo.png"></Image>
    </StackLayout> 
    
    <label class="header" text="TimePoint"></label>

    <StackLayout class="entradas" >
        <TextField class="entradaUser"hint="Correo"[text]='name'secure="false"></TextField>
    </StackLayout>

    <StackLayout class="entradas" >
        <TextField class="entradaUser"hint="Contraseña"[text]='name'secure="true" ></TextField>
    </StackLayout>
    <StackLayout>
        <button class="botonlog" (tap)="onNavigate()" text="Logear"></button>
    </StackLayout>

    <label class="registrar"(tap)="onNavigate2()" text="Registrate Aqui!"></label>
</StackLayout>
  



